<section class="user_index_page">
  <div class="row">

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail">
        <%= image_tag @user.image, class: 'cateory_image' %>
        <div class="caption">
          <h5 class="category_thumbnail_caption"><%= @user.name %></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <p class="user_show_about">About:</br><%= @user.about %></p>
    </div>

  </div>

  <%= link_to "Upload a book", new_book_path %></p>



</section>

<h1>Bibliography</h1>
<div class="row">
    <% @user.books.each do |book| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <%= link_to book do %>
      <div class="thumbnail">
        <%= image_tag book.cover_picture, class: 'book_image' %>
        <div class="caption">
          <div class="category_thumbnail_caption">
            <h5><%= book.name %></h5>
            <h5><%= book.user.name %></h5>
            <h5>£<%= book.price %></h5>
            <div ng-controller="RatingDemoCtrl">
              <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
              <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>


