<div class="row">
  <div class="col-sm-4">
    <%= image_tag @book.cover_picture, class: 'user_show_image' %>
  </div>
  <div class="col-sm-8">
    <h3>Description</h3>
    <p class="user_show_about"><%= @book.description %></p>
  </div>
  <div class="col-sm-8">
    <h3>Price</h3>
    <p class="user_show_about">£<%= @book.price %></p>
  </div>
  <div class="col-sm-8">
    <h3>Rating</h3>
    <p class="user_show_about"><%= @book.star_rating %></p>
  </div>
  <div class="col-sm-8">
    <h3>Sales</h3>
    <p class="user_show_about"><%= @book.number_of_sales %></p>
    <div class="col-sm-8">      
  </div>
</div>

<button type="button" class="btn btn-success">Add to Basket</button>