<section class="book_show_page">
  <div class="row">

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail">
        <%= image_tag @book.cover_picture, class: 'book_image' %>
        <div class="caption">
          <div class="category_thumbnail_caption">
            <h5><%= @book.name %></h5>
            <h5><%= @book.user.name %></h5>
            <h5>£<%= @book.price %></h5>
            <div ng-controller="RatingDemoCtrl">
              <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
              <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div> 
      <button class="basket_button" ng-click="addToBasket()">Add to basket</button>
      <button class="basket_button" ng-click="removeFromBasket()">Remove from basket</button>
      <div class="col-sm-8">
        <p class="user_show_about">Description:</br><%= @book.description %></p>
      </div>
      <div class="col-sm-8">
        <p class="user_show_about">Sales: <%= @book.number_of_sales %></p>
      </div>

      <div class="col-sm-8">
        <p class="user_show_about">Link to the book: <a href=<%="#{@book.content}"%>><%= @book.name%></a></p>
      </div>
      <div class="col-sm-8">
        <p class="user_show_about">Comments</p>
        <%= link_to "Leave a comment", new_comment_path %></p>

        <div class="comment_box">
          <% @book.comments.each do |comment| %>

            <%= comment.user.name %> |
            <%= comment.created_at.to_formatted_s(:long) %></br>
            <%= comment.content %></br>
            <%= link_to 'Delete comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td></br>
          <% end %>
        </div>

      </div>

 
    </div>
  </div>


</section>


    



<!--   <div class="col-sm-8"> 
    <h3>Sample</h3> -->
<!--     <object data="/uploads/book/cover_picture/12/frankenstein.pdf" type="application/pdf" width="700" height="500">
    </object> -->

