<div class="row">
  <div class="col-sm-4">
    <p><%= image_tag @book.cover_picture.url %></p>
  </div>
  <div class="col-sm-8">
    <h3>Title</h3>
    <p class="user_show_about"><%= @book.name %></p>
  </div>
  <div class="col-sm-8">
    <h3>Author</h3>
    <p class="user_show_about"><%= @book.user_id %></p>
  </div>
  <div class="col-sm-8">
    <h3>Price</h3>
    <p class="user_show_about">£<%= @book.price %></p>
  </div>
  <button type="button" class="btn btn-success">Add to Basket</button>
  <div class="col-sm-8">
    <h3>Rating</h3>
    <p class="user_show_about"><%= @book.star_rating %></p>
  </div>
  <div class="col-sm-8">
    <h3>Description</h3>
    <p class="user_show_about"><%= @book.description %></p>
  </div>
  <div class="col-sm-8">
    <h3>Sales</h3>
    <p class="user_show_about"><%= @book.number_of_sales %></p>
    <div class="col-sm-8">  
  </div>
  <div class="col-sm-8">
    <h3>Comments</h3>
  </div>
  <div class="col-sm-8">
    <h3>Link to the book</h3>
    <a href="/uploads/book/cover_picture/12/frankenstein.pdf">Frankenstein</a>
  </div>
  <div class="col-sm-8"> 
    <h3>Sample</h3>
<!--     <object data="/uploads/book/cover_picture/12/frankenstein.pdf" type="application/pdf" width="700" height="500">
    </object> -->
  </div> 
</div>
