<h3> Popular books in <%= @category.name %></h3>
<div class="row">
  <% @category.books.each do |book| %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= link_to book do %>
    <div class="thumbnail">
      <%= image_tag book.cover_picture, class: 'book_image' %>
      <div class="caption">
        <div class="category_thumbnail_caption">
          <h4><%= book.name %></h4>
          <h4><%= book.user_id %></h4>
          <h4>£<%= book.price %></h4>
          <h4><%= book.star_rating %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

 
<h3> All books in <%= @category.name %></h3>
<p>Sort by:</p>
<div class="row">
  <% @category.books.each do |book| %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= link_to book do %>
    <div class="thumbnail">
      <%= image_tag book.cover_picture, class: 'book_image' %>
      <div class="caption">
        <div class="category_thumbnail_caption">
          <h4><%= book.name %></h4>
          <h4><%= book.user_id %></h4>
          <h4>£<%= book.price %></h4>
          <h4><%= book.star_rating %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back to all Categories', categories_path %> | 
<%= link_to 'Destroy', category_path, method: :delete, data: { confirm: 'Are you sure?' } %>


