<div class="row">
  <% @category.books.each do |book| %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= link_to book do %>
    <div class="thumbnail">
      <%= image_tag book.cover_picture, class: 'book_image' %>
      <div class="caption">
        <div class="category_thumbnail_caption">
          <h5><%= book.name %></h5>
          <h5><%= book.user.name %></h5>
          <h5>£<%= book.price %></h5>
          <div ng-controller="RatingDemoCtrl">
            <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

 



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back to all Categories', categories_path %> | 
<%= link_to 'Destroy', category_path, method: :delete, data: { confirm: 'Are you sure?' } %>


